<% if @errors %>
  <div id="flash-alert" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" data-controller="flash">
    <div class="flex justify-between items-start">
      <div>
        <% if @errors.respond_to?(:full_messages) %>
          <ul class="list-disc pl-5 mt-2">
            <h2 class="font-semibold"><%= pluralize(@errors.count, "error") %> prohibited this from being saved:</h2>
            <% @errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% else %>
          <h2 class="font-semibold">Error: <%= @errors %></h2>
        <% end %>
      </div>
      <button class="ml-4 text-red-500" data-action="click->flash#closeErrorFlash" aria-label="Close alert">
        <svg class="fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
        </svg>
      </button>
    </div>
  </div>
<% end %>