<div id="<%= dom_id subject %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= subject.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= subject.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Topic:</strong>
    <%= subject.topic_id %>
  </p>

</div>
