<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing subject</h1>
    <%= render 'form', subject: @subject %>
    
    <div class="mt-6 text-center">
      <%= link_to 'Back', subjects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
 
</div>

