<% if @ai_output_error %>
  <div id="error_example" class="mt-4 p-4 border border-red-300 rounded-lg bg-red-100">
    <h2 class="text-lg font-semibold">Error:</h2>
    <div></div>
    <p><%= @ai_output_error %></p>
  </div>
<% end %>
