/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}
.trix-content img {
  max-width: 400px; /* Limit max width of images */
  max-height: 200px; /* Limit max height of images */
  width: auto; /* Allow auto width */
  height: auto; /* Allow auto height */
}


.trix-content ul li {
  list-style: disc !important;
}

.trix-content ol li {
  list-style: decimal !important;
}

.trix-body .editor-content blockquote {
  font-style: italic;
}

.trix-body .editor-content pre {
  background-color: rgb(239,240,241);
}

.trix-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}