.subject-card {
    color: #D1DAC3;
    background-color: #FFEBD4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  .subject-card .action-links {
    margin-top: 15px;
  }
  
  .subject-card .action-links a {
    text-decoration: none;
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    color: #D1DAC3;
  }
  
  .subject-card-link {
   color: white;
  }
  
  .shared .navbar {
    color: #D1DAC3;
}