<div id="<%= dom_id course_section %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= course_section.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= course_section.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= course_section.subject_id %>
  </p>

</div>
